.person {
  width: 220px;
  height: 287px;
  box-sizing: border-box;

  border-radius: 10px;
  
  margin-bottom: 40px;

  &__card {

  }

  &__photo {
    $cardSize: 200px;
    width: $cardSize;
    height: $cardSize;
    border-radius: $cardSize;
    padding: 10px 10px 8px;
  }

  &__rank {

  }

  &__details {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    text-align: center;
    color: #2F4F4F;
  }

  &__name {

  }

  &__extra {
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    opacity: 0;
  }
}